*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 15vh;
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 20px;
    padding: 20px;
}
.l1{
    display: flex;
    gap: 15px;
}
.l2{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 15px;
}
.l4{
    text-decoration: none;
    color: red;
}
.li{
    text-decoration: none;
    color: white;
}
.l5{
    font-size: 25px;
    color: red;
    
}
.btn{
    padding: 15px 33px;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
    background-color: red;
}
.btn:hover{
    outline:  2px solid red;
    /* border-radius: 20px; */

 }
 .l41{
    color: black;
    text-decoration: none;
 }
 .l41:hover{
    color: red;
    text-decoration: underline;
 }